*/.vs/
/.vs/
/packages/
/packages/*
*.dll
*.vssscc
/bin/
/obj/
*/bin/*
*/obj/*
*.csproj.*
*/import/*
WebApiDemo/WebApiDemo/bin/*
WebApiDemo/WebApiDemo/obj/*
WebApiDemo/packages/*
WebApiDemo/WebApiDemo.Test/obj/*
WebApiDemo/WebApiDemo.Test/bin/*
